.teacher-header {
    background-color:yellow;
}

.dashboard {
    display:flex;
}

.dashboard-nav {
    width:15%;
    padding:0.5em;
    display:flex;
    flex-direction: column;
    background-color:beige;
}

.dashboard-content {
    width:85%;
    background-color:bisque;

}

.dashboard-flex {
    display:flex;
}

.form-flex {
    width:70%;
    display:flex;
    flex-direction:column;
}

.class-list-container {
    overflow-y:scroll;
    max-height:50%;
}